<select>
    <option value="todos">Todos</option>
    <option *ngFor="let categoria of getCategorias()" [value]="categoria">
        {{categoria}}
    </option>
</select>



<div class="botones">
    <button>Categoria</button>
</div>

<div class="Posts">
    <div class="post" *ngFor="let post of Allpost">
        <h3> {{post.titulo}}</h3>
        <p>{{post.texto}}</p>
        <h3>{{post.autor}}</h3>
        <img [src]="post.imagen">
        <p>{{post.fecha}}</p>
        <h3>{{post.categoria}}</h3>
    </div>
</div>