<div class="container">

    <select (change)="onChange($event)">
        <option value="todos">Todas las categorias</option>
        <option *ngFor="let categoria of getCategorias()" [value]="categoria">
            {{categoria}
        </option>
    </select>

</div>

<div class="Posts" class="col col-12 col-lg-6">
    <div class="post" *ngFor="let post of Allpost">
        <h3>{{post.categoria}}</h3>
            <h3> {{post.titulo}}</h3>
            <p>{{post.texto}}</p>
            <img [src]="post.imagen">
            <h4>{{post.autor}}</h4>
            <p>{{post.fecha}}</p>

</div>
</div>