<div class="formulario">
    <div class="form-titulo">
        <label> Titulo</label>
        <input type="text" value="Titulo"> Titulo de la Publicacion
    </div>

    <div class="form-texto">
        <label>texto</label>
        <input type="text" value="texto"> Agregar descripcion
    </div>

    <div class="form-autor">
        <label>Autor</label>
        <input type="text" value="Autor"> Autor de la publicación
    </div>

    <div class="form-img">
        <label>imagen</label>
        <input type="url" value="imagen">Agregar imagen
    </div>

    <div class="form-fecha">
        <label>fecha</label>
        <input type="url" value="imagen">Fecha de publicación
    </div>

    <div class="form-categoria">
        <label>Agregar categoria</label>
        <input type="url" value="imagen">Agregar categoria
    </div>
    <button>ENVIAR</button>

</div>